<!-- End Google Tag Manager (noscript) -->
<div class="page-loader">
    <div class="page-loader__spinner">
        <svg viewBox="25 25 50 50">
            <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>
<style>
    .top-nav > li > a:not(.header__nav__text) {
        padding: .6rem 1rem;
    }
</style>

<header class="header">
<!--    <div class="navigation-trigger" data-sa-action="aside-open" data-sa-target=".sidebar">-->
<!--        <i class="zwicon-hamburger-menu"></i>-->
<!--    </div>-->

    <div class="navigation-trigger d-xl-none" data-sa-action="aside-open" data-sa-target=".sidebar">
        <i class="zwicon-hamburger-menu"></i>
    </div>

    <div class="logo d-none d-sm-inline-flex">
        <a href="/"><img src="/images/logo_white.png" width="170"></a>
    </div>

    <div class="search__inner">
    </div>
    <ul class="top-nav">
        <li class="d-none d-sm-inline-block">
            <!--            <a href="javascript:">ECAT</a>-->
        </li>
    </ul>

</header>
