<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NikeBot</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
    <!-- Vendor styles -->
    <link rel="stylesheet" href="/resources/vendors/zwicon/zwicon.min.css">
    <link rel="stylesheet" href="/resources/vendors/animate.css/animate.min.css">
    <link rel="stylesheet" href="/resources/vendors/overlay-scrollbars/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/resources/vendors/fullcalendar/core/main.min.css">
    <link rel="stylesheet" href="/resources/vendors/fullcalendar/daygrid/main.min.css">
    <link rel="stylesheet" href="/resources/vendors/select2/css/select2.min.css">

    <link rel="stylesheet" href="/resources/vendors/dropzone/dropzone.css">
    <link rel="stylesheet" href="/resources/vendors/flatpickr/flatpickr.min.css" />
    <link rel="stylesheet" href="/resources/vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="/resources/vendors/bootstrap-colorpicker/css/bootstrap-colorpicker.css">
    <link rel="stylesheet" href="/resources/vendors/trumbowyg/ui/trumbowyg.min.css">
    <link rel="stylesheet" href="/resources/vendors/rateyo/jquery.rateyo.min.css">
    <link href='https://fonts.googleapis.com/css?family=Bai+Jamjuree&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- App styles -->
    <link rel="stylesheet" href="/resources/css/app.min.css">

    <link rel="stylesheet" href="/css/custom-alert.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/resources/vendors/jquery/jquery.min.js"></script>
</head>