<style>
    .terms-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 3%;
        text-align: center;
    }
    .terms-footer a {
        padding: 0 2%;
    }
</style>
<div class="terms-footer">
    <div>
        <a href="javascript:">Terms & Conditions</a>
        <a href="javascript:">Privacy Policy</a>
    </div>
</div>

