<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body data-sa-theme="2">
<section class="error">
    <div class="error__inner">
        <h1>404</h1>
        <h2>The page you were looking for doesn't exist!</h2>
        <a href="/">Go to Home Page</a>
    </div>
</section>

<%- include('../partials/footer') %>
<%- include('../partials/foot') %>

</body>
</html>