<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<style>
    .login__logo {
        width: 100%;
    }
    .login__logo img {
        width: 100%;
    }
    .btn-primary:focus {
        color: #fff;
        background-color: #0069d9;
        border-color: #0062cc;
    }
</style>
<body data-sa-theme="2">

<div class="page-loader">
    <div class="page-loader__spinner">
        <svg viewBox="25 25 50 50">
            <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
</div>

<div class="login">

    <!-- Forgot Password -->
    <div class="login__block active" id="l-forget-password">
        <div class="login__block__header">
            <div class="login__logo">
                <img src="/images/logo.png">
                <p>Forgot password</p>
            </div>

            <div class="actions actions--inverse login__block__actions">
                <div class="dropdown">
                    <i data-toggle="dropdown" class="zwicon-more-h actions__item"></i>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/login">Go to login</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="login__block__body">
            <div class="form-group">
                <input type="text" class="form-control text-center" id="forgot_email" placeholder="Email Address">
            </div>
            <button class="btn btn-primary" id="submit_forgot" onclick="forgotPassword()">Submit request</button>
        </div>
    </div>
</div>

<%- include('../partials/terms-footer') %>
<%- include('../partials/footer') %>
<%- include('../partials/foot') %>

<script>

</script>
</body>
</html>